[submodule "dependencies/n"]
    path = dependencies/n
    url = git@github.com:ISP-Michael/Neovim.git
[submodule "dependencies/hypr"]
    path = dependencies/hypr
    url = git@github.com:ISP-Michael/Hyprland.git
[submodule "dependencies/qs"]
    path = dependencies/qs
    url = git@github.com:ISP-Michael/Quickshell.git
[submodule "dependencies/kitty"]
	path = dependencies/kitty
	url = git@github.com:ISP-Michael/Kitty.git
