{
  inputs.nixpkgs.url = "github:NixOS/nixpkgs/nixos-unstable";
  outputs = {
    self,
    nixpkgs
  }:
    let
      system = "x86_64-linux";
      pkgs = nixpkgs.legacyPackages.''${system};
    in {
      devShells.''${system}.default = pkgs.mkShell {
        packages = [
          pkgs.uv
        ];
        shellHook = \'\'
          export LD_LIBRARY_PATH="''${pkgs.lib.makeLibraryPath (with pkgs; [
            stdenv.cc.cc
            zlib
            openssl
          ])}"
          if [ ! -d ".venv" ]; then
            uv venv
          fi
          source .venv/bin/activate
          uv init
        \'\' ;
      };
    };
}
